<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FB Friend App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/jquery.jqplot.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .app {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .app .app-heading,
      .app .checkbox {
        margin-bottom: 10px;
      }
      .app input[type="text"],
      .app input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

      .app-toolbar{padding: 10px 0px;margin-left: 0px !important;}
      .app .friend-item{margin-bottom:10px;}
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="app row">
        <div class="span12">
          <h2 class="app-heading">Fb Friends App</h2>
          <!-- btn-group, see: http://twitter.github.com/bootstrap/components.html#buttonGroups -->
          <div class="span12 app-toolbar btn-group">
            <input type="text" id="search" placeholder="Search by name, surname, activities.." />
            <button class="btn" id="byName">Sort by name</button>
            <button class="btn" id="byBirthday">Sort by birthday</button>
          </div>
          <div style="margin-left : -50px;" class = "charts"> 
                <ul class="nav nav-tabs">
                   <li id="li_amis"class="active">
                      <a href="#" onclick="FbApp.showCharts('chartByFriendCount','li_amis'); return false;">Nombre d'amis</a>
                  </li>
                  <li id="li_sex"><a href="#"  onclick=" FbApp.showCharts('chartBySex','li_sex'); return false;">Sexe</a></li>
                  <li id="li_status"><a href="#"  onclick="FbApp.showCharts('chartByRelationShip' , 'li_status'); return false;">Status</a></li>
                </ul>
                  <div style="width:100%; height : 300px" id ="chartBySex"></div>          <!--  Les différentes div sont destinées à l'affichages des 3 graphiques  -->  
                  <div style="width:100%; height : 300px" id ="chartByFriendCount"></div>
                  <div style="width:100%; height : 300px" id ="chartByRelationShip"></div>     
          </div>
          <div class="friend-list row"></div>
        </div>
      </div>
    </div>t 

    <!-- Le javascript
    ================================================== -->
    <script id="friendTmpl" type="text/x-template" charset="utf-8">
      <div class="media">
        <a class="pull-left">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="<%= pic_big %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="<%= profile_url %>"><%= sort_first_name %> <%= sort_last_name %></a></h4>
          <small><%= birthday_date %></small>
          <small><%= relationship_status %></small><br/>
          <small><%= hometown_location ? hometown_location.name : '' %></small><br/>
        </div>
      </div>
    </script>
    <script src="js/getFriends.js"></script>
    <script src="js/jquery-1.9.0.js"></script>
    <script src="js/jquery.jqplot.js"></script>
    <script src="js/bootstrap.2.2.2.js"></script>
    <script src="js/underscore.1.4.4.js"></script>
    <script src="js/backbone.1.0.0.js"></script>
    <script src="js/jqplot.donutRenderer.js"></script>
    <script src="js/jqplot.pieRenderer.js"></script>
    
    <script type="text/javascript">
      var FbApp = {};
    </script>
    <script src="app/Friend.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/Friends.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/FriendView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/AppView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartFriendCountModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartRelationshipModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartSexModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartSexView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartFriendCountView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/chart/ChartRelationShipView.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      FbApp.init = function(){

        //Collection
        var myFriends = new FbApp.Friends();


        //Model par graphe
        var myChartSexModel = new FbApp.ChartSexModel({
          collection : myFriends,
        });
        var myChartFriendCountModel = new FbApp.ChartFriendCountModel({
          collection : myFriends,
        });
        var myChartRelationshipModel = new FbApp.ChartRelationshipModel({
         collection : myFriends, 
        });        


        var myChartSexView = new FbApp.ChartSexView({
          model : myChartSexModel,
          el: $('#chartBySex'),
        });
        var myChartFriendCountView = new FbApp.ChartFriendCountView({
          model : myChartFriendCountModel,
          el: $('#chartByFriendCount')
        });
        var myChartRelationshipView = new FbApp.ChartRelationshipView({
          model : myChartRelationshipModel,
          el: $('#chartByRelationShip')
        });

        var myCharts = new FbApp.ChartView({});
        var myApp = new FbApp.AppView({
          collection : myFriends,
          el: $('.app')[0],
        });
        myFriends.reset(getFriends());
      };
      
      FbApp.init();
    </script>



    <!-- Gestion des onglets -->
    <script type="text/javascript">
      $('#chartBySex').hide();
      $('#chartByRelationShip').hide();
      FbApp.ChartsShow = '#chartByFriendCount';
      FbApp.LiActive = '#li_amis';

      FbApp.showCharts = function(chart,id_li){
          var tmpDiv = "#" + chart;
          var tmpLi =  "#" + id_li;
          if ($(FbApp.ChartsShow).is(':visible')) {
                  $(FbApp.ChartsShow).hide('slow',function(){});
          }
          if (! $(tmpDiv).is(':visible')) {
                  $(tmpDiv).show('slow', function() {});
          }
          $(FbApp.LiActive).removeClass("active"); //On supprime la classe active de l'onglet 

          FbApp.LiActive = tmpLi;  //On change la div qui sera active

          $(FbApp.LiActive).addClass("active");  //On donne la classe active pour montrer quel onglet est actif

          FbApp.ChartsShow = tmpDiv;
        
      };
    </script>
  </body>
</html>
